{% extends "blog/base.html" %}
{% block content %}
    <h1>Post details</h1>
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d.m.Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
        </div>
    </article>
    {% if object.author == user %}
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.pk %}"> Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.pk %}"> Delete</a>
        </div>
    {% endif %}
    <div>
        <a class="text-muted" href="{% url 'comment-create' object.pk %}"> Add comment</a>
    </div>
    <hr>
    {% if not object.comments.all %}
        No comments yet
    {% else %}
        {% for comment in object.get_comments %}
            {% include './comment.html' with comment=comment %}
        {% endfor %}
    {% endif %}
{% endblock content %}